[tool.poetry]
name = "mandown"
version = "1.3.1"
description = "Comic/manga/webtoon downloader and CBZ/EPUB/PDF converter"
authors = ["Daniel Chen <danielchen04@hotmail.ca>"]
license = "AGPL-3.0-only"
readme = "README.md"
repository = "https://github.com/potatoeggy/mandown"
documentation = "https://github.com/potatoeggy/mandown"
keywords = ["manga", "comic", "downloader", "download", "webtoons", "webtoon"]

[tool.poetry.scripts]
mandown = "mandown.cli:main"
mandown-gui = "mandown.ui.ui:main"

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
typer = "^0.7.0"
feedparser = "^6.0.8"
beautifulsoup4 = "^4.10.0"
requests = "^2.27.0"
lxml = "^4.7.1"
Pillow = "^9.0.1"
python-slugify = "^6.1.2"
PySide6 = {version = "^6.4.0", optional = true}
natsort = "^8.1.0"
filetype = "^1.1.0"
comicon = "^0.2.2"

[tool.poetry.dev-dependencies]
types-requests = "^2.26.3"
types-lxml = "^2022.4.10"
pytest = "^7.2.0"

[tool.poetry.extras]
gui = ["PySide6"]

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = ["B", "C", "E", "F", "W"]
ignore = ["B905"]
exclude = ["mandown/ui/*", "build/*"]
target-version = "py310"
line-length = 100

[tool.ruff.mccabe]
max-complexity = 18

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]
"mandown/cli.py" = ["B008"]
"tests/*" = ["E501"]
